body{
	padding-top: 100px; /* 50px was original value*/
	text-align: center;
}

/*Controls display of modal dialog box (modals currently used on loanreimburse.php view) */
body .modal{
	width: 70% !important;

	margin-left: auto;
	margin-right: auto;
}

/*Controls initial display of "<select>" element on loanreimburse.php view*/
#filterCategoryOptions{
	display: none;

	margin-left: auto;
	margin-right: auto;

	margin-top: 10px;
	margin-bottom: 15px;

	width: 150px;

}

/*Controls initial display of <label> tag for '#filterCategoryOptions' select element on loanreimburse.php view*/
#filterOptionsLbl{
	display: none;
}

/*Controls spacing between radio options on loanreimburse.php view*/
input.filterLoanOptions{
	margin-right: 15px;
}

h1{
	text-align: center;
}

h2{
	font-size: 24px;
}

/*Controls the display of the #reimburseDosesFields div on the loanreimburse.php modal box (when a loan from the table is selected) */
#reimburseDosesFields
{
	display: none;
} 

/*Elements located in the updatepriceandcost.php view*/
#updateMsg, #nameSearchMsg, #barcodeSearchMsg
{
	display: none;
	background-color: inherit;
	color: inherit;
}

#scanbc-heading, #scanbc-text{
	margin-bottom: 30px;
}

#scanbc-text{
	font-size: 16px;
}

/*Places a black box around all forms*/
#scanbc-form, #select-form, #invoice-form, #administer-form, #loanout-form, #loanreturn-form, 
#login-form, #createuser-form, #registerUserForm, #manageUserForm {
	border: 1px solid #003939;
	
	margin-left: 25vw;
	margin-right: 25vw;

	padding-top: 10px;
	padding-bottom: 15px;
}

/*Sets the width of the "dose" textbox on the Administer and LoanOut pages (#doseQty is on the Administer page & #totalDosesLoaned is on the LoanOut page)*/
#doseQty, #totalDosesLoaned{
	width: 182.286px;
}

/*Controls placement of error message label for packageQty field in "invoice.php" view*/
/*#packageQtyError
{
	display: ;
}*/

/*Controls display of "Update" button on the EditTransactions page*/
a.modifyTransUpdate{
	display: none;
}

/*Style the borders of the table that is inside the Transaction table (under the "Transaction Doses" column) - this is on the EditTransactions page*/
table.invoiceInnerTable th, table.invoiceInnerTable td  /* td, table.invoiceInnerTable * th */
{
	text-align: center;
	border: 1px solid black;
}

/*Styles the 'Cancel' buttons on the Invoice, Administer, and LoanOut forms*/
#btnCancel{
	display: block;
	height: 100%;
	width: 100%;
}

#scanbc-invoice, #scanbc-administer, #scanbc-loanout, #administer-travel, #administer-refugee{
	padding-right: 20px;
}

#scanbc-barcode, #select-vaccineList{
	margin-top: 10px;
	margin-bottom: 20px;
}

label.actionform{
	width: 125px;
	display: inline-block;
	text-align: right;
	padding-right: 10px;
}

/*Controls display of the radio buttons, textbox, & button to modify borrowers on the LoanOut page*/
.editBorrowerControls
{
	display: none;
}

/*Controls display of a label element on the loanout.php view*/
#borrowerUserMessage{
	display: none;
}

/*Controls width of "Add"/"Edit"/"Delete" button & "Cancel" button on the loanout.php view (buttons are hidden until the "#btnAccessBorrowerControls" button is clicked) */
#btnEditBorrower, #btnCancelEdit{
	width: 100px;
}

/*Sets width of select box elements*/
/*
	#borrowerID is in both the loanout & loanreturn view
	#registerRole is in the manage-users view
	#manageUserList is in the manage-users view
*/
#borrowerID, #registerRole, #manageUserList{
	width: 180px;
}

/*Sets default display values for controls in the #manageFormControls div element in the manage-users view
.manageUserControl
{
	display: none;
}*/

.errormsg{
	color: red;
}

/*Controls display of user feedback on the manage-users.php view*/
.userMsg{
	margin-left: 341.5px;
	margin-right: 341.5px;

	display: none;
}



@media print{
	/*Sets margin around the page*/
	@page{
		margin: 2cm;
	}

	/*Hide anchor tags*/
	a{
		display: none;
	}
}

/*AJAX Preloader Images*/
/*Preloader images on updatepriceandcost page*/
#AJAXPreloader{
	/*Source: http://stackoverflow.com/questions/1964839/jquery-please-wait-loading-animation */
	display:    none; /*Image is hidden by default so it doesn't interfer with page content until an AJAX request is initiated*/
    position:   fixed; /*Positions element relative to the viewport*/
   /* z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%; */

    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, 0.7 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

